<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%> 
<body>
    <%- include('partials/navbar'); -%> 
    <div class="container py-5">
        <h1 class="display-4 mb-3">Welcome on our blog page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus natus quaerat consectetur sapiente at eum veritatis repudiandae repellat quo eos veniam, voluptatum cumque ullam accusamus quas corporis nisi sequi quis nulla? Fugit veniam eos aliquid odio eius perferendis reprehenderit accusamus. Voluptates quisquam deserunt est, dignissimos laborum illum explicabo rem dolorum.</p>
    </div>

    <%- include('partials/bootstrapJS'); -%> 
</body>
</html>